.main-country-page-container{
    display: flex;
    max-width: 	1280px;
    margin: 0 auto;
    min-height: 80vh;
    /* background: hotpink; */
    align-items: center;
    padding: 10px;
    gap: 20px ;
}
.page-image-container {
    /* background: red; */
    min-width: 40%;
}

.main-container-back-btn{
    max-width: 	1280px;
    margin: 0 auto;
    padding-top: 20px;
    /* background: red; */
}
.page-image-container{
    width: 50%;
}

.main-container-back-btn button{
/* background: hotpink; */
height: 40px;
background: gold;
width: 80px;
border-radius: 5px ;

}

.page-image-container .photo{
    max-width: 100%;
    min-width: 80%;

}


.country-details-page{
    /* min-width: 80%; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    justify-content: space-between;
    /* background: gold; */
}
.detail-right{
    min-width: 40%;
    /* background: red; */
}
.detail-left{
    min-width: 60%;
}

.borderspan{
    background: rgba(128, 128, 128, 0.404);
    font-family: sans-serif;
    margin: 5px;
    padding: 3px;
    font-size: 0.7em;
}
span{
    display: inline-block;
}

a{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1100px) {
    .main-country-page-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background: red; */
        align-items: center;
    }
    .page-image-container{
        max-width: 100%;
        width: 100%;

    }
    .main-country-page-container .photo{
        width: 100%;

    }

    .country-details-page{
        display: flex;
    /* background: red; */
    width: 100%;
    justify-content: space-between;
    }
    .detail-right{
        min-width: 50%;
        /* background: gray; */
    }
    .detail-left{
        min-width: 50%;
    }
}

@media screen and (max-width: 750px){
    .main-country-page-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .page-image-container{
        max-width: 100%;
        width: 100%;
    }
    .main-country-page-container .photo{
        width: 100%;
        /* object-fit: cover; */

    }
    .country-details-page{
        display: flex;
        flex-direction: column;
    /* background: red; */
    width: 100%;
    justify-content: space-between;
    }
    .detail-right{
        min-width: 50%;
        text-align: center;
        /* background: gray; */
    }
    .detail-left{
        text-align: center;
        min-width: 50%;
    

    }}