.filter-element{
    max-width: 	1280px;
    margin: 0 auto;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 56px;
    min-height: 42px;
    width: 100%;
    padding-top: 15px;

}

.filter-element input{
height: 42px;
width: 34%;
}

.filer-box .filter-btn{
    background: green;
    height: 42px;
    width: 106px;
    /* color: hotpink; */
    font-weight: 800;
}