.filter-element {
  max-width: 1280px;
  margin: 0 auto;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 56px;
  min-height: 42px;
  width: 100%;
  padding-top: 15px;
}

.filter-element input {
  height: 42px;
  width: 34%;
}

.filer-box .filter-btn {

  height: 42px;
  width: 106px;
  /* color: hotpink; */
  font-weight: 800;

}

.filerOption {
  position: relative;
}
.ul-list {
  position: absolute;
  height: auto;
  z-index: 20;
  display: flex;
  justify-content: center;
  flex-direction: column; /* Centers the items horizontally */
  list-style: none; /* Removes default bullet points */
  padding: 0;
  /* background-color: red; */
}

.ul-list li {
  /* color: hotpink; */
  padding: 10px;
  /* margin: 0 10px; */
  list-style: none;
  font-family: tahoma;
  /* display: inline-block; */
  background: #FF0000;
  border: 2px solid ;
  width: 100%;
  /* text-align: center; */
}

.filter-btn{
  border-radius: 5px ;
}

.container-box a{
  color: inherit;
  text-decoration: none;
}


.filter-btn{
  background: inherit;
}

.filter-btn:hover{
  background: red;
  transition: all 0.2s ease;
}