.container-box {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
    /* background: hotpink; */
    justify-content: center;
    gap: 10px;
    padding: 15px;

}

.country-box {
    padding: 7px;
    overflow: hidden;
    /* max-width: 250px; */
    /* display: grid; */
    /* grid-template-columns: auto auto; */
    border: 2px solid ;
}

.country-box img {
    width: 100%;
    object-fit: cover;
    height: 200px;

   
}

.filer-box{
    background: yellowgreen;
    z-index: 100;
}