/* .country-box img{
    max-width: 200px;
    border-radius: 2px solid red;

}

.country-box{
    max-width: 260px;
    border: 2px solid red;

}

.main-box-contianer{
    display: inline-grid;
    gap: 10px;

}

.container-box{
    max-width: 	1280px;
    margin: 0 auto;
} */



.container-box{
    max-width: 	1280px;
    margin: 0 auto;   
     display: grid;
     background: hotpink;

}

.container-box{
    /* display: grid; */
    border: 2px solid green;
}

.country-box img {
    max-width: 200px;
    border: 2px solid green;
}