.container-box {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    background: hotpink;

}

.country-box {
    max-width: 200px;
    /* display: grid; */
    /* grid-template-columns: auto auto; */
    border: 2px solid green;
}

.country-box img {
    width: 100%;
    object-fit: cover;

    border: 2px solid green;
}